head
{
    overflow:visible;
}
body
{
    background-color: white;
    margin: -8px;
    overflow: visible;
}


div.div1 {
    position: absolute;
    width: 302px;
    height: 721px;
    margin-left: -8px;
    border-right: 3px solid;
    border-right-color: #ffffff;
    overflow: visible;
}

div.div2 {
    position: absolute;
    width: 1225px;
    height: 718px;
    margin-left: 294px;
    border-left: 3px solid;
    border-left-color: #5b5f6238;
    
}

div.top1{
      position: relative;
    margin-top: -30px;
    width: 100%;
    height: 6%;
    border-bottom-color: #5b5f6238;
    background: #f8fbfd;
}

p.ttop1{
    user-select: none;
    width: 51%;
    position: relative;
    padding-top: 4%;
    margin-top: 12.5%;
    margin-left: 42%;
    font-family: Arial, Helvetica, sans-serif;
    color: #463131;
    /* float: left; */
    font-size: 18px;
    font-weight: bold;
}

div.bot1{
    position: relative;
    width: 100%;
    margin-top: 0%;
    height: 92%;
    border-bottom-color: #5b5f6238;
    background-color: white;
    white-space: nowrap;
}

div.bot11{
    position: relative;
    width: 92%;
    margin-top: 2%;
    padding-left: 7%;
    height: 100%;
    border-bottom-color: #5b5f6238;
    background-color: white;
    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;

}


div.bot12{
    position: relative;
    width: 92%;
    height: 6%;
    border-bottom-color: #5b5f6238;
    background-color: white;
    white-space: nowrap;
    padding-top: 7px;
  
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    margin-left: 17px;
    color: #828181;
    cursor: pointer;
    transition: all 0.1s ease;
}

.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    margin-left: 17px;
    color: yellow;
    cursor: pointer;
    transition: all 0.1s ease;
}

.estrelinha2
{
    margin-top: 43px;
    font-size: 23px;
    margin-left: 38px;
}

.far:hover{
        color:yellow;

}

.fa-circle{
    color: #3e83f2;
    position: absolute;
    margin-left: 209px;
    margin-top: -50px;
    font-size: 13px;
}

.estrelinha1{
    font-family: 'Font Awesome 5 Free';
    font-weight: 150px;
    margin-left: 230px;
    margin-top: -51px;
    position: absolute;
    font-size: 14px;
    color: yellow;
    cursor: pointer;
    transition: all 0.1s ease;
    z-index:8;
}

input.textarea{
        position: relative;
    padding: 8px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 93%;
    height: 5%;
    margin-top: 0%;
    color: #949494;
    border: 0px solid #000000;
    border-radius: 13px;
    margin-bottom: 4%;
    background: #f8fbfd;
    opacity: 1;
    font-size: 18px;
    z-index: 10;
    outline: none;
}

div.minimiza{
    position: relative;
    /* padding-left: 15px; */
    user-select: none;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 9%;
    margin-left: 190px;
    height: 118%;
    margin-top: -10%;
    text-align: center;
    color: #949494;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 4%;
    background:white;
    opacity: 1;
    font-size: 21px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.1s ease;
    }

div.minimiza:hover{
    background:#aba4a4;

}

div.starred{
    user-select: none;
    position: relative;
    margin-left: 48px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 93%;
    height: 50%;
    margin-top: -19px;
    color: #9c9b9b;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 4%;
    /* background: #dcdcdc; */
    opacity: 1;
    font-size: 19px;
    z-index: 3;
}

div.starreddireita{
    user-select: none;
    position: relative;
    margin-left: 88px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    height: 50%;
    margin-top: -25px;
    color: #675b5b;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 4%;
    /* background: #dcdcdc; */
    opacity: 1;
    font-size: 24px;
    z-index: 3;
   
    font-weight: bold;
}

input.textareatop2{
    position: relative;
    padding-left: 15px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 18%;
    height: 82%;
    margin-top: 3px;
    color: #949494;
    border: 0px solid #000000;
    border-radius: 2px;
    /* margin-bottom: 0%; */
    background: #bed5f9;
    opacity: 1;
    font-size: 18px;
    z-index: 3;
}



form.formtop2{
    height: 132%;
    width: 100%;
    position: relative;
}



#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 9px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dcdcdc;
}


#chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#chat::-webkit-scrollbar
{
    width: 9px;
    background-color: #F5F5F5;
}

#chat::-webkit-scrollbar-thumb
{
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dcdcdc;
}
div.top2{
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 6%;
    /* border-bottom-color: white; */
    border-bottom: 2px solid;
    border-bottom-color: #b5b5b5;
    /* border-right-color: #ffffff; */
    padding-left: 4px;
    background: #f8fbfd;
}


div.imgconversatop2{
    position: relative;
    margin-top: 0px;
    width: 6%;
    height: 100%;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    border-radius: 4px 0px 0px 4px;
    border-radius-left: 4px;
    border-right-width: 0px;
    visibility: hidden;
}

.fa-plus{
    content: "\f067";
    position: absolute;
    margin-top: -43px;
    font-size: 19px;
    visibility: hidden;
    color: #3e3e3e;
    /* background: wheat; */
    margin-left: 1091px;
}



div.nomeconversatop2{
    visibility: hidden;
    position: relative;
    user-select: none;
    margin-top: -29px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 87px;
    font-family: Arial, Helvetica, sans-serif;
    /* float: left; */
    width: 50%;
    height: 100%;
    colr: white;
    color: #3e3e3e;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    border-radius: 4px 0px 0px 4px;
    border-radius-left: 4px;
    border-right-width: 0px;
}

img.conversatop2{
    position: relative;
    margin-top: 3px;
    margin-left: 21px;
    width: 59%;
    height: 90%;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    /* border-radius: 4px 0px 0px 4px; */
    border-radius: 21px;
    border-radius-left: 4px;
    border-right-width: 0px;
    /* margin-bottom: 2%; */
    /* background: #f70000; */
}

div.mid2{
    position: relative;
    margin-top: 0px;
    height: 20px;
    width: 1229px;
    height: 84%;
    border-bottom-color: #5b5f6238;
    background: #f8fbfd;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(../img/teladefundoconversa.jpg);
    background-size: 1800px;
}

img.displayed{
    height: 100%;
    position: relative;
    width: 100%;
    margin-left: 0%;
}

div.bot2{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 9%;
    border-bottom-color: #5b5f6238;
    background: #f8fbfd;
}

input.escreverchat{
    visibility: hidden;
    position: relative;
    padding: 8px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 43%;
    margin-top: 1%;
    margin-left: 20px;
    color: #949494;
    border: 0px solid #000000;
    border-radius: 32px;
    margin-bottom: 4%;
    background: #eee;
    opacity: 1;
    font-size: 18px;
    z-index: 10;
    outline: none;
}

.fa-envelope
{
    visibility: hidden;
    content: "\f0e0";
    position: absolute;
    font-size: 36px;
    color: #d5d5d5;
    margin-left: 18px;
    margin-top: 20px;
}

div.filho{
    position: relative;
    margin-top: 0px;
    width: 1229px;
    height: 11%;
    border-bottom-color: #5b5f6238;
    background-color: #ef1f1f;
}

div.bot21{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 11%;
    border-bottom-color: #5b5f6238;
    background-color: white;
}
div.bot22{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 89%;
    border-bottom-color: #5b5f6238;
    background-color: white;
}
div.barralateral{
    position: relative;
    margin-top: -7px;
    width: 100%;
    height: 100%;
    border-bottom-color: #5b5f6238;
}

div.conversa{
    position: relative;
    margin-top: 0px;
    width: 98%;
    height: 8%;
    border-bottom-color: #5b5f6238;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 2%;
    background: #dcdcdc;
    cursor:pointer;
    transition: all 0.1s ease;
}

div.imgconversa{
    position: relative;
    margin-top: 0px;
    width: 24%;
    height: 100%;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    border-radius: 4px 0px 0px 4px;
    border-radius-left: 4px;
    border-right-width: 0px;
    /* margin-bottom: 2%; */
    /* background: #f70000; */
    
}

img.iconegrupo{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    border-radius: 4px 0px 0px 4px;
    border-radius-left: 4px;
    border-right-width: 0px;
    /* margin-bottom: 2%; */
    /* background: #f70000; */
    
}


img.iconegrupo1{
    position: absolute;
    margin-top: -8px;
    width: 100%;
    height: 100%;
    border-bottom-color: #5b5f6238;
    border-left: 0px solid #000000;
    border-radius: 0px 4px 4px 0px;
    border-radius-left: 4px;
    border-right-width: 0px;
    /* margin-bottom: 2%; */
    /* background: #f70000; */
}

.corpoconversa{
    position: absolute;
    margin-top: -45px;
    width: 76%;
    height: 100%;
    margin-left: 24%;
    opacity: 0.1;
    z-index:6;
    /* background: blue; */
    border-radius: 0px 4px 4px 0px;
}

.corpoconversa:hover
{
    opacity:0.4;
}
.active{
        opacity:0.4;
}

.desactive{
    opacity:0.1;
}

div.textocorpo{
    overflow: hidden;
    position: relative;
    margin-left: 75px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 42%;
    margin-top: -41px;
    font-display: bold;
    color: #564f4f;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 4%;
    font-weight: bold;
    text-overflow: ellipsis;
    /* background: #dcdcdc; */
    opacity: 1;
    font-size: 19px;
    z-index: 3;
    user-select: none;
}

div.textocorpo1{
    user-select: none;
    overflow: hidden;
    position: relative;
    margin-left: 75px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 42%;
    margin-top: -10px;
    font-display: bold;
    color: #949090;
    border: 0px solid #000000;
    border-radius: 4px;
    margin-bottom: 4%;
    /* font-weight: bold; */
    text-overflow: ellipsis;
    /* background: #dcdcdc; */
    opacity: 1;
    font-size: 11px;
    z-index: 3;
}

div.msgpropria
{
        /* visibility: hidden; */
    /* position: relative; */
    position: relative;
    user-select: none;
    margin-top: 19px;
    font-size: 15px;
    text-align: left;
    padding: 7px;
    font-weight: bold;
    min-height: 2%;
    min-width: 32%;
    max-width: 32%;
    margin-left: 66%;
    font-family: Arial, Helvetica, sans-serif;
    /* float: left; */
    colr: white;
    border: 0px solid #000000;
    border-radius: 32px;
    background: #85ffc1;
    z-index: 12;
    color: #3e3e3e;
    /* border-bottom-color: #5b5f6238; */
    /* border-left: 0px solid #000000; */
    /* border-radius: 4px 0px 0px 4px; */
    border-radius-left: 4px;
    border-right-width: 0px;
}









   