<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body background="/img/img2.jpg">
    <div class="top1">
    </div>
    <div class="middle">
        <div class="top">
            <img class="displayed" src="/img/logoteste.jpeg" alt="Otario">
        </div>
        <div class="mid1">
            <input class="bt-face" type="submit" onclick="window.location.href = 'https://pt-br.facebook.com/'" value="LOGIN WITH FACEBOOK">
        </div>
        <div class="mid2">
            <form class="form2">
                <input class="textarea" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" type="text"
                    id="Email" name="Email">
                <input class="textarea" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" type="password"
                    id="Password" name="Password">
                <input class="textarea" placeholder="What is your user?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'What is your user?'"
                    type="text" id="Username" name="Username">


                <div class="mid3">
                    <p class="Fonte">Data de Nascimento:</p>
                    <input class="textarea2" placeholder="1" onfocus="this.placeholder = ''" onblur="this.placeholder = '1'" type="text" id="DiaNasc"
                        name="DiaNasc" onchange="corrigevalordia(this)">
                    <select class="tipo" placeholder="Mês" id="Mês" name="Mês">
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Marco</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                    <input class="textarea3" placeholder="1970" onfocus="this.placeholder = ''" onblur="this.placeholder = '1970'" type="text"
                        id="Ano" name="Ano" onchange="corrigevalorano(this)">
                    <input class="bt-login" type="submit" onclick="window.location.href ='file:///C:/Users/silve/Desktop/Projeto/SanhaGram/index.html'" value="ENTER IN SANHAGRAM">
                </div>
            </form>
        </div>
    </div>
   
</body>

</html>